<div class="container">
  <div class="row">
    <div class="col-md-12">
        <h1>{{myWeather.cityName}}</h1>
        <h2>{{myWeather.temp}}&deg;C</h2> 
        <div class="img">
          <img src="http://openweathermap.org/img/w/{{myWeather.icon}}.png" alt="{{myWeather.weatherType}}">
          <h4>{{myWeather.weatherType}}</h4>
        </div>
        <h4>Min: {{myWeather.minTemp}}&deg;C  |  Max: {{myWeather.maxTemp}}&deg;C</h4>
        <form (ngSubmit)="onSubmit(form)" #form="ngForm">
          <input type="text" ngModel name="city" placeholder="Type city name here">
          <button class="btn btn-info " name="button">search</button>
        </form>
      
    </div>
  </div>
</div>
