<div class="row">
  <div class="col-md-12">
      <form [formGroup]="forecastForm" (ngSubmit)="onSubmit()">
          <input class="input-lg" type="text" placeholder="Input city here" formControlName="forecastCity">
          <button class="btn btn-info btn-lg">search</button>
        </form>
  </div>
</div>


<div>
  <div class="day" *ngFor="let day of cityForecast">
    <h2>{{day.day | date: 'd MMM'}}</h2>
    <div class="icon">
      <img src="http://openweathermap.org/img/w/{{day.icon}}.png">
    </div>
    <div class="temp">
      <h3>{{day.temp}}&deg;C</h3>
    </div>
  </div>
</div>


